{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% set subheader %}
    <span>
        {{ order.checkoutCompletedAt|date }}
        <i class="bi bi-dot"></i>
        {{ money.convertAndFormat(order.total) }}
        <i class="bi bi-dot"></i>
        {{ order.totalQuantity }} {{ 'sylius.ui.items'|trans|lower }}
    </span>
{% endset %}

{{ headers.default('sylius.ui.summary_of_your_order'|trans ~' #'~ order.number, null, subheader) }}
