{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set state = order.paymentState %}

<div class="card">
    {% if state != 'cart' %}
        {% include "@SyliusShop/Common/Order/Label/PaymentState/orderPaymentState.html.twig" %}
    {% endif %}
    <div class="card-body" id="sylius-payments">
        {% for payment in order.payments %}
            {% set state = payment.state %}

            <div class="row align-items-center">
                <div class="col-3">
                    <div class="display-4 text-center">
                        <i class="bi bi-credit-card-2-front"></i>
                    </div>
                </div>
                <div class="col-9">
                    <p id="sylius-payment-method" {{ sylius_test_html_attribute('payment-method') }}>
                        <span class="fw-bold">{{ payment.method }}</span>
                        <i class="bi bi-dash-lg"></i>
                        <span {{ sylius_test_html_attribute('payment-price') }}>{{ money.format(payment.amount, payment.currencyCode) }}</span>
                    </p>
                    {% if state != 'cart' %}
                        <p class="mb-0" id="payment-status" {{ sylius_test_html_attribute('payment-state') }}>
                            {% include "@SyliusShop/Common/Order/Label/PaymentState/singlePaymentState.html.twig" with { 'state': state } %}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
