<div class="row justify-content-evenly align-items-center bg-sylius text-center text-white py-5">
    <div class="col-auto">
        <p class="display-4"><i class="bi bi-car-front"></i></p>
        <p class="fw-bold fs-5 mb-0">{{ 'sylius.footer.banner.free_shipping_title'|trans }}</p>
        <p class="lead">{{ 'sylius.footer.banner.free_shipping_content'|trans }}</p>
    </div>
    <div class="col-auto">
        <p class="display-4"><i class="bi bi-currency-dollar"></i></p>
        <p class="fw-bold fs-5 mb-0">{{ 'sylius.footer.banner.multiple_payments_title'|trans }}</p>
        <p class="lead">{{ 'sylius.footer.banner.multiple_payments_content'|trans }}</p>
    </div>
    <div class="col-auto">
        <p class="display-4"><i class="bi bi-ticket-perforated"></i></p>
        <p class="fw-bold fs-5 mb-0">{{ 'sylius.footer.banner.guarantee_title'|trans }}</p>
        <p class="lead">{{ 'sylius.footer.banner.guarantee_content'|trans }}</p>
    </div>
</div>
