<div class="col-auto">
    <h4 class="fw-bold">{{ 'sylius.ui.your_store'|trans }}</h4>
    <ul class="list-unstyled">
        <li><a class="text-white-50 text-decoration-pseudo" href="#">{{ 'sylius.ui.about'|trans }}</a></li>
        <li><a class="text-white-50 text-decoration-pseudo" href="#">{{ 'sylius.ui.terms_and_conditions'|trans }}</a></li>
        <li><a class="text-white-50 text-decoration-pseudo" href="#">{{ 'sylius.ui.privacy_policy'|trans }}</a></li>
        <li><a class="text-white-50 text-decoration-pseudo" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a></li>
    </ul>
</div>
