{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="card {{ is_carousel ? 'shadow-none' : 'shadow' }}">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'is_card': true} %}
    </a>
    <div class="card-body" {{ sylius_test_html_attribute('product-content') }}>
        <p class="card-title h5">
            <a
                class="card-link link-sylius link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover sylius-product-name"
                href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
                {{ sylius_test_html_attribute('product-name', product.name) }}
            >
                {{ product.name }}
            </a>
        </p>

        {% if not product.enabledVariants.empty() %}
            {% set variant = product|sylius_resolve_variant %}

            {% set price = money.calculatePrice(variant) %}
            {% set originalPrice = money.calculateOriginalPrice(variant) %}
            {% set appliedPromotions = variant.getAppliedPromotionsForChannel(sylius.channel) %}

            <div class="card-text my-3">
                {% include '@SyliusShop/Product/Show/_catalogPromotionLabels.html.twig' with {'appliedPromotions': appliedPromotions, 'withDescription': false} %}
            </div>

            <div class="card-text h6">
                {% if variant|sylius_has_discount({'channel': sylius.channel}) %}
                    <span class="sylius-product-original-price small text-body-secondary text-decoration-line-through" {{ sylius_test_html_attribute('product-original-price') }}><del>{{ originalPrice }}</del></span>
                {% endif %}
                <span class="sylius-product-price" {{ sylius_test_html_attribute('product-price') }}>{{ price }}</span>
            </div>
        {% endif %}
    </div>
</div>
