{% extends '@SyliusShop/Account/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/breadcrumbs.html.twig' as breadcrumbs %}
{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.change_password'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumbs.default({
        homepage: {label: 'sylius.ui.home'|trans, url: path('sylius_shop_homepage')},
        account_dashboard: {label: 'sylius.ui.my_account'|trans, url: path('sylius_shop_account_dashboard')},
        account_change_password: {label: 'sylius.ui.change_password'|trans}
    }) }}
{% endblock %}

{% block subcontent %}
    {{ headers.default('sylius.ui.change_password'|trans, null, 'sylius.ui.set_a_new_password_for_your_account'|trans) }}

    {{ sylius_template_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}

    <div class="row">
        {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

        <div class="col-12">
            {{ form_row(form.currentPassword, sylius_test_form_attribute('current-password')) }}
        </div>
        <div class="col-12">
            {{ form_row(form.newPassword.first, sylius_test_form_attribute('new-password')) }}
        </div>
        <div class="col-12">
            {{ form_row(form.newPassword.second, sylius_test_form_attribute('confirmation-new-password')) }}
        </div>

        {{ sylius_template_event('sylius.shop.account.change_password.form', {'form': form}) }}

        <button type="submit" {{ sylius_test_html_attribute('save-changes') }} class="btn btn-outline-sylius">{{ 'sylius.ui.save_changes'|trans }}</button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
