{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            {{ headers.default('sylius.ui.reset_password'|trans, 'person-x', 'sylius.ui.set_a_new_password_for_your_account'|trans) }}

            {{ sylius_template_event('sylius.shop.request_password_reset_token.after_content_header') }}
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-md-9 col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.email, sylius_test_form_attribute('reset-email')) }}

                    {{ sylius_template_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

                    {{ form_row(form._token) }}
                    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('request-password-reset-button') }}>
                        {{ 'sylius.ui.reset'|trans }}
                    </button>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
