{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            {{ headers.default('sylius.ui.reset_password'|trans, 'person-x', 'sylius.ui.set_a_new_password_for_your_account'|trans) }}
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-md-9 col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'action': path('sylius_shop_password_reset', {'token' : user.passwordResetToken}), 'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.password.first, sylius_test_form_attribute('password-reset-new')|merge({'label': 'sylius.form.user_reset_password.new'|trans})) }}
                    {{ form_row(form.password.second, sylius_test_form_attribute('password-reset-confirmation')|merge({'label': 'sylius.form.user_reset_password.confirmation'|trans})) }}
                    {{ form_row(form._token) }}
                    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('request-password-reset-button') }}>
                        {{ 'sylius.ui.reset'|trans }}
                    </button>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
