{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}
{% import '@SyliusShop/Common/Macro/pagination.html.twig' as pagination %}

<div class="row align-items-center mb-3">
    {{ sylius_template_event('sylius.shop.product.index.search', _context) }}
</div>

{{ sylius_template_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

{% if resources.data|length > 0 %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3" id="products" {{ sylius_test_html_attribute('products') }}>
        {% for product in resources.data %}
            <div class="col">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}
    </div>

    {{ sylius_template_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

    <div class="row mb-3">
        <div class="col">
            {{ pagination.simple(resources.data) }}
        </div>
    </div>
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display'|trans) }}
{% endif %}
