<div class="col">
    <form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}">
        <div class="row align-items-center g-3" id="searchbar">
            <div class="col" id="searchbarTextField">
                {% for filter in products.definition.enabledFilters %}
                    {{ sylius_grid_render_filter(products, filter) }}
                {% endfor %}
            </div>
            <div class="col-auto" id="searchbarButtons">
                <div class="btn-group">
                    <button class="btn btn-outline-success" type="submit" {{ sylius_test_html_attribute('search') }}><i class="bi bi-search"></i> {{ 'sylius.ui.search'|trans }}</button>
                    <a class="btn btn-outline-danger" href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" {{ sylius_test_html_attribute('clear') }}>
                        <i class="bi bi-x-lg"></i> {{ 'sylius.ui.clear'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
