<div class="card" {{ sylius_test_html_attribute('title', review.title) }}>
    <div class="card-body">
        <h5 class="card-title">{{ review.title }}</h5>
        <h6 class="card-subtitle text-body-secondary mb-3">
            <span>{{ review.author.firstName|default('theme.bootstrap.sylius.product_review.unknown_author'|trans) }}</span>
            <i class="bi bi-dot"></i>
            <span>{{ review.createdAt|format_date }}</span>
            <i class="bi bi-dot"></i>
            <span class="text-sylius">
                {% for i in 1..5 %}
                    {% if (review.rating >= i) %}
                        <i class="bi bi-star-fill"></i>
                    {% else %}
                        <i class="bi bi-star"></i>
                    {% endif %}
                {% endfor %}
            </span>
        </h6>
        <p class="card-text">{{ review.comment }}</p>
    </div>
</div>
