{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.write_your_own_review'|trans }} | {{ parent() }}{% endblock %}

{% set product = product_review.reviewSubject %}

{% set subheader %}
    <span>{{ 'sylius.ui.you_are_reviewing'|trans }} <strong>{{ product.name }}</strong></span>
{% endset %}

{% block content %}
    <div class="row g-3 my-3" id="reviews">
        <div class="col-md-4">
            {{ sylius_template_event('sylius.shop.product_review.create.product_box', _context) }}
        </div>
        <div class="col-md-8">
            {{ headers.default('sylius.ui.write_your_own_review'|trans, null, subheader) }}
            <div class="row">
                {{ sylius_template_event('sylius.shop.product_review.create.before_form', {'product_review': product_review}) }}

                {{ form_start(form, {'action': path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}), 'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                {% include '@SyliusShop/ProductReview/_form.html.twig' with {'form': form} %}

                {{ sylius_template_event('sylius.shop.product_review.create.form', {'product_review': product_review, 'form': form}) }}

                <div class="col-12">
                    <div class="row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sylius" {{ sylius_test_html_attribute('add') }}>
                                <i class="bi bi-journal-check"></i> {{ 'sylius.ui.add'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
