{% if currencies|length > 1 %}
    <li class="nav-item dropdown" {{ sylius_test_html_attribute('currency-selector') }}>
        <a class="nav-link link-light dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" {{ sylius_test_html_attribute('active-currency') }}>{{ active }}</a>
        <ul class="dropdown-menu">
            {% for code in currencies %}
                {% if code is not same as(active) %}
                    <li>
                        <a href="{{ path('sylius_shop_switch_currency', {'code': code}) }}" class="dropdown-item sylius-available-currency" {{ sylius_test_html_attribute('available-currency') }}>
                            {{ code }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endif %}
