{% macro headers(grid, definition, requestAttributes) %}
    {% import '@SyliusShop/Common/Macro/sorting.html.twig' as sorting %}

    {% if definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
        <th class="text-center">
            <input class="form-check-input" type="checkbox" id="bulkSelectCheckbox" aria-label="bulk select checkbox" data-js-bulk-checkboxes=".bulk-select-checkbox" data-js-bulk-buttons=".sylius-grid-nav__bulk">
        </th>
    {% endif %}

    {% for field in definition.fields|sort_by('position') %}
        {% if field.enabled %}
            {% if field.isSortable %}
                {{ sorting.tableHeader(grid, field, requestAttributes) }}
            {% else %}
                <th class="sylius-table-column-{{ field.name }} text-nowrap">{{ field.label|trans }}</th>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
        <th class="sylius-table-column-actions text-nowrap">{{ 'sylius.ui.actions'|trans }}</th>
    {% endif %}
{% endmacro %}

{% macro row(grid, definition, row) %}
    <tr class="item" {{ sylius_test_html_attribute('row') }}>
        {% if definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
            <td class="text-center">
                <input class="form-check-input bulk-select-checkbox" type="checkbox" id="checkboxNoLabel" value="{{ row.id }}" aria-label="bulk select checkbox">
            </td>
        {% endif %}
        {% for field in definition.enabledFields|sort_by('position') %}
            <td>{{ sylius_grid_render_field(grid, field, row) }}</td>
        {% endfor %}
        {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
            <td {{ sylius_test_html_attribute('actions') }}>
                <div class="row justify-content-start mx-0 g-2">
                    {% for action in definition.getEnabledActions('item')|sort_by('position') %}
                        <div class="col-auto text-nowrap px-1">
                            {{ sylius_grid_render_action(grid, action, row) }}
                        </div>
                    {% endfor %}
                </div>
                {% if definition.actionGroups.subitem is defined and definition.getEnabledActions('subitem')|length > 0 %}
                    <hr class="my-2">
                    <div class="row justify-content-start mx-0 g-2">
                        {% for action in definition.getEnabledActions('subitem')|sort_by('position') %}
                            <div class="col-auto text-nowrap px-1">
                                {{ sylius_grid_render_action(grid, action, row) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        {% endif %}
    </tr>
{% endmacro %}
